$border_color : #337AB8;


#toolbox {
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	height:58px;
	padding:14px;
	border-bottom: 2px solid $border_color;
	background-color:#eee;
}

#filter {
  border-right: 2px solid $border_color;
  border-bottom: 2px solid $border_color;
}
#user {
  border-right: 2px solid $border_color;
}
#plans {
  border-bottom: 2px solid $border_color;
}
#filter {
  padding: 15px;
}
#filter div {
  margin-bottom:5px;
}
#workplane {
	background-color:#fff;
}

#participants {
	
	span.group-label {
	  display: inline;
	  border: 1px solid #888;
	  background-color: #eee;
	  padding-left:5px;
	  padding-right:5px;
	  padding-top:2px;
	  padding-bottom:2px;
	  border-radius: 4px;
	  margin-left:4px;
	  margin-top:24px;
	}

	.grid-group {
	  background-color:#eee;
	  position:relative;
	  width:100%;
	  height:27px;
	  border-bottom: 1px solid #ccc;
	  border-right: 1px solid #ccc;
	  text-align: center;
	  padding: 4px;
	}
	.grid-group.hover {
	  color: #fff;
	  background-color:#666;
	}
	.grid-item {
	  position:relative;
	  width:100%;
	  height:28px;
	  border-bottom: 1px solid #ccc;
	  border-right: 1px solid #ccc;
	  text-align: center;
	  padding: 4px;
	}

	.plan {
	  white-space: nowrap;
	  text-overflow:ellipsis;
	  overflow: hidden;
	  position:relative;
	  width:126px;
	  padding:4px;
	  border-bottom: 1px solid #ccc;
	  border-left: 1px solid #ccc;
	}
	.plan.hover {
	  color: #fff;
	  background-color:#888;
	}

	.plan p {
	  font-size:8pt;
	}
	.plan-details {
	  text-align:center;
	  padding:4px;
	  border-bottom: 1px solid #ccc;
	  border-right: 1px solid #ccc;
	  font-size:8pt;
	  font-weight:bold;
	}
	.plan-details.hover {
	  color: #fff;
	  background-color:#888;
	}


	.scroll-y {
	  position:relative;
	}
	.scroll-x {
	  position:relative;
	}
}
