$text_normal: #333;
$text_highlite: #337AB7;
$unselected_bg: #bbb;
$unselected_fg: #666;
$unselected_bd: #aaa;
$selected_bg:#fff;/*#337AB8;*/
$selected_fg:#337AB8;/*#fff;*/
$selected_bd: #66afe9;
$selection_light:#337AB8;
$info_background: #dddddd;
$info_border: darker( $info_background, 50%);

$topframe : 56px;
$leftframe : 300px;

/* Farben */
$window_background: #eee;
$edit_background: #fff;

body {
    position:absolute;
		top:0px;
		left:0px;
		bottom:0px;
		right: 0px;
    border:0px;
    padding:0px;
    margin:0px;
    font-size: 8.25pt;
    background-color: $window_background;
}

#mainframe {
    position:fixed;
    top:0px;
    left:0px;
    bottom:0px;
    right:0px;
}

#app {
	position:absolute;
	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
	min-width:1024px;
	z-index:0;
	overflow: hidden;
}
#main {
	position:absolute;
	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
	overflow:hidden;
}
#toolbar {
	position:absolute;
	left: 0px;
	right:0px;
	top:0px;
	height:54px;
	padding:10px;
	background-color:#285780;
}
div.logo {
	display:inline-block;
	position:relative;
	width:128px;
	height:42px;
	background-size:100% 100%;
	background-image:url('./img/logo_javes_weiss.png');
	margin-right:10px;
	float:left;
}

.pathitem {
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100%;
}
.well {
	border: 1px solid #428bca;
}

#topframe {
    position:absolute;
    top:0px;
    left:$leftframe;
    right:0px;
    height: $topframe;
    background-color: $selection_light;
}

#leftframe {
    position:absolute;
    top:0px;
    left:0px;
    height: $topframe;
    width: $leftframe;
    background-color: #fff;
		background-image: url('/img/signet_arc-greenlab.png');
		background-repeat: no-repeat;
		background-position: 13px 8px;
		border-right: 2px solid #337AB8;
		border-bottom: 2px solid #337AB8;
}

.page-container {
    position:absolute;
    background-color: $window_background;
    top:$topframe;
    left:0px;
    right:0px;
    bottom:0px;
};

#datenbearbeitung {
    position:absolute;
    background-color: $window_background;
    top:0px;
    left:$leftframe;
    right:0px;
    bottom:0px;
}

#datenauswahl {
    position:absolute;
    background-color: $window_background;
    top:0px;
    left:0px;
    width: $leftframe;
    bottom: 0px;
    border-right: 2px solid $selection_light;
    overflow-y:auto;
}

#selection {
}

#editmode {
}

#glf {
    position:absolute;
    background-color: $window_background;
    top:$topframe;
    left:0px;
    right:0px;
    bottom: 0px;
}

#innere-auswahl {
    position:relative;
    width:100%;
    min-height: 100%;
		padding: 10px;
    border-right: 1px solid $selection_light;
}

#innere-auswahl .btn {
	width:100%;
	text-align:left;
}

#innere-toolbox {
		position:relative;
		width:100%;
		min-height: 100%;
		padding:10px;
		border-right: 1px solid $selection_light;
		border-left: 3px solid $selection_light;
}

.toolframe {
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
}

.groupbox .form-group:last-child {
  margin-bottom: 0px;
}

div.modal-body {
	background-color: #eee;
}

.groupbox {
  background-color: #eee;
  position: relative;
  width: 100%;
  border: 1px solid #aaa;/*$selection_light;*/;
  border-radius: 5px;
  margin-top: 12px;
  padding: 6px;
  padding-top: 10px;
}

.groupbox-label {
  position: absolute;
  top: -9px;
  left: 5px;
  background-color: #eee;
  padding: 6px;
  padding-bottom: 0px;
  padding-top: 0px;
  color: #888;/*$selection_light;*/
  font-weight: bold;
}

.groupbox > .row {
  margin-left: 0px;
  margin-right: 0px;
}

.groupbox > .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 3px;
    padding-right: 3px;
}

.infoblock {
  background-color: $info_background;
  border: 2px solid $info_border;
  border-radius: 3px;
  margin-top: 6px;
  padding: 6px;
  padding-top: 6px
}

.infoblock:last-child {
	margin-bottom:0px;
}

.commentbox {
  background-color: $info_background;
  border: 2px solid $info_border;
  border-radius: 3px;
  margin-top: 6px;
  padding: 6px;
  padding-top: 6px
}

#selection h4 {
  color: $selection_light;
}

@media print {
	#app { position: relative; width:100%; min-width:100%; max-width:100%;}
	#main { position: relative; top: 0px;	width: 100%;}
	#toolbar {display:none;}
	#leftframe {display:none;}
	#topframe {display:none;}
	#datenauswahl {display:none;}
	#datenbearbeitung {left:0px;}
}

.selection-item {
	position:relative;
	font-size: 8pt;
	padding: 0px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	background-color: $unselected_bg;
	/*border: 2px solid $unselected_bd;*/
	color: $unselected_fg;
	text-align: left;
	border-radius: 4px;
	margin-top:6px;
	overflow: visible;
}

.selection-item.active {
	border: 0px;
	background-color: $window_background;
	/*border: 2px solid $selected_bd;*/
	color: $selected_fg;
}

.selection-item > .selection-header {
	border-radius: 4px;
	padding: 4px;
	outline: 0;
	color:$unselected_fg;
	border: 2px solid $unselected_bd;
	background-color:$unselected_bg;
}

.selection-item > .selection-header:hover {
	color:$selected_fg;
	background-color:$selected_bg;
	border: 2px solid $selected_bd;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 12px rgba(102, 175, 233, 0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 12px rgba(102, 175, 233, 0.6);
}

.selection-item.active > .selection-header {
	color:$selected_fg;
	background-color:$selected_bg;
	border: 2px solid $selected_bd;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 12px rgba(102, 175, 233, 0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 12px rgba(102, 175, 233, 0.6);
}

.selection-item .selection-header .dropdown {
	top: -12px;
}

.selection-item > .open-selection {
	position: relative;
    height: 14px;
    width: 100%;
    background-color: #eee;
    color: #000;
    top: 12px;
    border-top: 2px solid $selected_fg;
    border-left: 2px solid $selected_fg;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.selection-item > .close-selection {
	position: relative;
	height:10px;
	width:100%;
	background-color:$window_background;
	color:#000;
	top:0px;
	border-left: 2px solid $selected_fg;
	border-bottom: 2px solid $selected_fg;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.selection-item > .group {
  background-color: $window_background;
  position: relative;
  width: 100%;
  margin-top: 12px;
	padding-left: 6px;
	border-left: 2px solid $selected_fg;
}

.selection-item > .group > .form-group:last-child {
	margin-bottom: 0px;
}

.selection-item > .group > .label {
  position: absolute;
  top: -18px;
  left: 5px;
  background-color: $window_background;
  padding: 6px;
  padding-bottom: 0px;
  padding-top: 0px;
  color: $selection_light;
  font-weight: bold;
	font-size:8pt;
}

.selection-item .selection-header:hover {
	background-color: $selected_bg;
	color: $selected_fg;
}

.toolstack-item {
	margin-top:6px;
}

.toolstack-item .btn {
	text-align:left;
}
